{{>partial_header}}
package {{packageName}}

type ExternalDataType string

const (
	ExternalDataTypeAddress            ExternalDataType = "address"
	ExternalDataTypeAddressWithPayload                  = "address_with_payload"
)