{{>partial_header}}
package {{packageName}}
import "gitlab.com/tokend/go/xdr"
{{#models}}
{{#imports}}
{{#-first}}
import (
{{/-first}}
	"{{import}}"
{{#-last}}
)
{{/-last}}
{{/imports}}
{{#model}}
{{#isEnum}}
{{#description}}
// {{{classname}}} : {{{description}}}
{{/description}}
type {{{classname}}} {{^format}}{{dataType}}{{/format}}{{#format}}{{{format}}}{{/format}}

// List of {{{name}}}
const (
	{{#allowableValues}}
	{{#enumVars}}
	{{^-first}}
	{{/-first}}
	{{name}} {{{classname}}} = "{{{value}}}"
	{{/enumVars}}
	{{/allowableValues}}
){{/isEnum}}{{^isEnum}}{{#description}}
// {{{description}}}{{/description}}
{{#isDetails}}
{{>details}}
{{/isDetails}}
{{^isDetails}}
type {{classname}} struct {
{{#needsResponses}}
    Key
{{/needsResponses}}
{{#vars}}
{{^-first}}
{{/-first}}
{{#description}}
	// {{{description}}}
{{/description}}
	{{name}} {{^required}}*{{/required}}{{{dataType}}} `json:"{{baseName}}{{^required}},omitempty{{/required}}"{{#withXml}} xml:"{{baseName}}{{#isXmlAttribute}},attr{{/isXmlAttribute}}"{{/withXml}}{{#vendorExtensions.x-go-custom-tag}} {{{.}}}{{/vendorExtensions.x-go-custom-tag}}`
{{/vars}}
}
{{/isDetails}}
{{#needsResponses}}
type {{classname}}{{responsePlaceholder}} struct {
    Data {{classname}} `json:"data"`
    Included Included  `json:"included"`
{{#generateMetaForSingle}}
    Meta json.RawMessage `json:"meta,omitempty"`
{{/generateMetaForSingle}}
}

{{#generateMetaForSingle}}
func (r *{{classname}}{{responsePlaceholder}}) PutMeta(v interface{}) (err error) {
    r.Meta, err = json.Marshal(v)
    return err
}

func (r *{{classname}}{{responsePlaceholder}}) GetMeta(out interface{}) error {
    return json.Unmarshal(r.Meta, out)
}
{{/generateMetaForSingle}}

type {{classname}}List{{responsePlaceholder}} struct {
    Data []{{classname}} `json:"data"`
    Included Included    `json:"included"`
    Links    *Links      `json:"links"`
{{#generateMetaForLists}}
    Meta  json.RawMessage `json:"meta,omitempty"`
{{/generateMetaForLists}}
{{#needsMeta}}
    Meta {{classname}}{{responsePlaceholder}}Meta `json:"meta"`
{{/needsMeta}}
}

{{#generateMetaForLists}}
func (r *{{classname}}List{{responsePlaceholder}}) PutMeta(v interface{}) (err error) {
    r.Meta, err = json.Marshal(v)
    return err
}

func (r *{{classname}}List{{responsePlaceholder}}) GetMeta(out interface{}) error {
    return json.Unmarshal(r.Meta, out)
}
{{/generateMetaForLists}}
{{/needsResponses}}
{{#needsMustMethods}}

// Must{{classname}} - returns {{classname}} from include collection.
// if entry with specified key does not exist - returns nil
// if entry with specified key exists but type or ID mismatches - panics
func (c *Included) Must{{classname}}(key Key) *{{classname}} {
    var {{name}} {{classname}}
    if c.tryFindEntry(key, &{{name}}) {
        return &{{name}}
    }
    return nil
}

{{/needsMustMethods}}
{{#isJsonable}}

func (r {{classname}}) MarshalJSON() ([]byte, error) {
    if r.Data == nil {
        r.Data = []Key{}
    }

    type temp {{classname}}
    return json.Marshal(temp(r))
}

{{/isJsonable}}
{{#needsKeyMethods}}

func NewKeyInt64(id int64, resourceType ResourceType) Key {
    return Key{
        ID:   strconv.FormatInt(id, 10),
        Type: resourceType,
    }
}

func (r* Key) GetKey() Key {
    return *r
}

func (r Key) GetKeyP() *Key {
    return &r
}

{{/needsKeyMethods}}
{{#needsDBMethods}}
//Value - implements db driver method for auto marshal
func (r {{classname}}) Value() (driver.Value, error) {
    return driverValue(r)
}

//Scan - implements db driver method for auto unmarshal
func (r *{{classname}}) Scan(src interface{}) error {
    return driveScan(src, r)
}
{{/needsDBMethods}}
{{#canBeRelation}}

func (r Key) AsRelation() *Relation {
    return &Relation {
        Data: r.GetKeyP(),
    }
}

{{/canBeRelation}}
{{/isEnum}}
{{/model}}
{{/models}}
